* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --have-read: #4caf50;
  --not-read: #d32f2f;
}

body {
  min-height: 100vh;
}

/* HEADER */
.header {
  background-color: #4693c8;
  display: flex;
  height: 10vh;

  justify-content: space-around;
  align-items: center;
}

.header p {
  color: white;
  font-size: 2rem;
}

.red {
  background-color: var(--not-read);
}

.green {
  background-color: var(--have-read);
}

#addBookButton {
  padding: 0.6vh 0.8vw;
  border-radius: 8px;
  background-color: rebeccapurple;
  font-size: 1.1rem;
  font-weight: bold;
}

/* SHELF */
.shelf {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-auto-rows: 45vh;

  gap: 5vw;
  padding: 2vw;
}

/* BOOK */

.book {
  border-radius: 8px;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;

  padding: 5vh 2vw;

  border: 5px solid var(--not-read);
  border-bottom: 10px solid var(--not-read);
}

.read {
  border: 5px solid var(--have-read);
  border-bottom: 10px solid var(--have-read);
}

.book h3 {
  font-size: 2rem;
  font-weight: bolder;
}

.book p {
  font-size: 1.5rem;
}

/* FOR BOOK BUTTONs */

.changeStatus {
  cursor: pointer;
  padding: 0.8vh 0.8vw;
  border-radius: 5px;
}

.delete {
  cursor: pointer;
  padding: 0.8vh 1.2vw;
  border-radius: 5px;
}

/* FOR FORM */
dialog {
  position: absolute;
  top: 20%;
  left: 40%;
  height: 50vh;
  width: 25vw;
}

dialog::backdrop {
  background-color: rgb(26, 25, 25);
  opacity: 0.9;
}

.top {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.top > div:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.top > div:nth-child(2) {
  color: red;
  background-color: black;
  padding: 10px 12px;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0 20px;
}

li {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.check {
  display: inline-block;
  margin-right: 50%;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  width: 100%;
}

.submit:hover {
  background-color: #0056b3;
}
