* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --have-read: #4caf50;
  --not-read: #d32f2f;
}

body {
  min-height: 100vh;
}

/* HEADER */
.header {
  background-color: #4693c8;
}

/* SHELF */
.shelf {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-auto-rows: 45vh;

  gap: 5vw;
  padding: 2vw;
}

/* BOOK */

.book {
  border-radius: 8px;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;

  padding: 5vh 2vw;

  border: 5px solid var(--not-read);
  border-bottom: 10px solid var(--not-read);
}

.read {
  border: 5px solid var(--have-read);
  border-bottom: 10px solid var(--have-read);
}

.book h3 {
  font-size: 2rem;
  font-weight: bolder;
}

.book p {
  font-size: 1.5rem;
}

/* FOR BOOK BUTTONs */

.changeStatus {
  cursor: pointer;
  padding: 0.8vh 0.8vw;
  border-radius: 5px;
}

.delete {
  cursor: pointer;
  padding: 0.8vh 1.2vw;
  border-radius: 5px;
}
